<main>
    <section>
        <h1>
            <%= courseData.question %>
        </h1>
        <meter id="meter" form="<%= courseData.course %>" value="0" max="6"></meter>
        <form id="<%= courseData.course %>" action="/subject/<%= courseData.course %>/<%= id %>" method="post">
            <fieldset>
                <label for="teacher">Kies je docent</label>
                <div>
                    <label for="docent">
                        <input type="radio" class="docent" name="docent" value="<%= courseData.teacherOne %>">
                        <%= courseData.teacherOne %>
                    </label>
                    <label for="docent">
                        <input type="radio" class="docent" name="docent" value="<%= courseData.teacherTwo %>">
                        <%= courseData.teacherTwo %>
                    </label>
                </div>
                <label for="begin-datum">
                    Begin datum
                </label>
                <input type="date" id="begindatum" name="begindatum" required>
                <label for="eind-datum">
                    Eind datum
                </label>
                <input type="date" id="einddatum" name="einddatum" required>
                <label for="grading">
                    Lesstof
                </label>
                <input title="Alleen cijfers 1 tot 10" type="range" id="lesstof" value="0" min="1" max="10"
                    oninput="gradeOnputId1.value = lesstof.value" name="lesstof" required>
                <output id="gradeOnputId1" class="lesstof">-</output>
                <label for="grading">
                    Uitleg
                </label>
                <input title="Alleen cijfers 1 tot 10" type="range" id="uitleg" value="0" min="1" max="10"
                    oninput="gradeOnputId2.value = uitleg.value" name="uitleg" required>
                <output id="gradeOnputId2" class="uitleg">-</output>
                <label for="grading">
                    Eigen inzicht
                </label>
                <input title="Alleen cijfers 1 tot 10" type="range" id="eigeninzicht" value="0" min="1" max="10"
                    oninput="gradeOnputId3.value = eigeninzicht.value" name="eigeninzicht" required>
                <output id="gradeOnputId3" class="eigeninzicht">-</output>
            </fieldset>
            <input id="submitbtn" type="submit" value="Verstuur"></input>
        </form>
    </section>
</main>